* {
  margin: 0;

}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(thumb-1920-1346679.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  min-height: 100vh;
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 75px;
}

nav ul li{
  font-size: 18px;
  padding:20px 0px 20px 0px;
    transition: 300ms;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 300ms ease-in-out;

}

nav ul li a:hover{
  font-size: 50px;
  padding:20px 0px 20px 0px;

}

/* Contenedor general */

section{
  max-width: 1500px;
  display: flex;
  display: flex;
}


.container {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;


}

/* Caja */
.box {
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
  height: 200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: solid 2px rgba(255, 255, 255, 0.226);
  transition: all 0.3s ease-in-out;

}

.box:hover {
  transform: scale(1.05);
  border: solid 2px rgba(255, 255, 255, 0.562);
  box-shadow: 0px 0px 32px 0 rgba(255, 255, 255, 0.548);
  background-color: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(15px);

}



/* Texto */
.box h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.box p {
  font-size: 16px;
}
